<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Group Matcher</title>
    <link rel="stylesheet" href="../static/styles_main.css">
</head>
<body>
    <header class="header">
        <h1>Let's Match the Project Group!</h1>
        <button class="profile-button" onclick="location.href='#profile'">View My Profile</button>
    </header>
    <main class="main">
        <div class="content-wrapper">
            <!-- Left Section -->
            <section class="left-section">
                <h2 class="main-title">What would you like to do?</h2>
                <div class="button-container-vertical">
                    <form class="button-card" action="/create" method="POST">
                        <h2>Create Your Own Project</h2>
                        <p>Start a new project and find your team members.</p>
                        <button onclick="location.href='#create'">Create Now</button>
                    </form>
                    <form class="button-card" action="/manage" method="POST">
                        <h2>Manage Your Project</h2>
                        <p>Keep track of your project's progress and members.</p>
                        <button onclick="location.href='#manage'">Manage Now</button>
                    </form>
                    <form class="button-card" action="/search" method="POST">
                        <h2>Search For a Project</h2>
                        <p>Find and join exciting projects that suit your interests.</p>
                        <button onclick="location.href='#search'">Search Now</button>
                    </form>
                </div>
            </section>

            <!-- Right Section -->
            <section class="right-section">
                <h2 class="small-title">Imperial College Events</h2>
                <div class="events-container">
                    {% for event in events %}
                    <div class="event">
                        <a href="{{ event.link }}" class="event-title" target="_blank">{{ event.title }}</a>
                        <p class="event-time">{{ event.time_range }}</p>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; 2025 Project Group Matcher. All Rights Reserved.</p>
    </footer>
</body>
</html>