<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/styles_profile.css">
</head>
<body>
    <!-- Header Block -->
    <div class="header">
        <h1>{{ first_name }} {{ second_name }}</h1>
    </div>

    <!-- Main Profile Container -->
    <div class="profile-container">
        <!-- Left Section -->
        <div class="profile-left">
            <p><strong>Course:</strong> {{ course }}</p>
            <p><strong>Enrolling Year:</strong> {{ enrolling_year }}</p>
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>GitHub URL:</strong> <a href="{{ github_url }}" target="_blank">{{ github_url }}</a></p>
            {%if repos%}
			
			
				<table class="table", style="width: 80%; border-spacing: 10px; text-align: center; border: 1px solid black; border-collapse: collapse; margin-top: 20px;">
					<thead>
					  <tr>
						<th scope="col" style="border: 1px solid black; padding: 10px;">Repositories</th>
						<th scope="col" style="border: 1px solid black; padding: 10px;">Last Updated Time</th>
						<th scope="col" style="border: 1px solid black; padding: 10px;">Star</th>
						<th scope="col" style="border: 1px solid black; padding: 10px;">Languages</th>
                        <th scope="col" style="border: 1px solid black; padding: 10px;">README</th> <!-- Limit the number of words-->
					  </tr>
					</thead>
					<tbody>
                        {%for repo in repos %}
					  <tr>
						<td style="border: 1px solid black; padding: 10px;">{{ repo.repo }}</td>
						<td style="border: 1px solid black; padding: 10px;">{{ repo.time }}</td>
						<td style="border: 1px solid black; padding: 10px;">{{ repo.star }}</td>
						<td style="border: 1px solid black; padding: 10px;">{{ repo.languages }}</td>
						<td style="border: 1px solid black; padding: 10px;">{{ repo.readme }}</td>
					  </tr>
                      {% endfor %}
					</tbody>
				</table>

				<br>
			
			</ul>
		{% else %}
			<p>No repositories found for this user.</p>
		{% endif %}
            <p><strong>LinkedIn URL:</strong> <a href="{{ linkedin_url }}" target="_blank">{{ linkedin_url }}</a></p>
        </div>

        <!-- Right Section -->
        <div class="profile-right">
            <h2>Bio</h2>
            <p>{{ bio }}</p>
        </div>
    </div>
</body>
</html>
