<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    <link rel="stylesheet" href="../static/styles_projectsinfo.css">
</head>
<body>
    <header class="header">
        <h1>Project Details</h1>
    </header>
    <main class="main">
        <div class="project-details">
            {% for project in projects %}
                <h2>{{project.project_name}}</h2>
                <p><strong>Founder Name:</strong>{{" " + project.first_name + " " + project.second_name }}</p>
                <p><strong>Field:</strong> {{project.fields}}</p>
                <p class="description"><strong>Description:</strong>
                {{project.description}}
                </p>
                <p><strong>Members:</strong> {{project.people}}</p>
                <p><strong>Founder Email:</strong> <a href="mailto:founder@example.com">{{project.email}}</a></p>
            {% endfor %}
        </div>
    </main>
</body>
</html>

